@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ibm-plex-sans);

  /* Colors Design System */
  --color-teal: #66E2DC;
  --color-coral: #FA7453;
  --color-yellow: #FFB964;
  --color-offwhite: #FCFAF9;
  --color-dark: #191826;
}

@layer components {
  .text-h1 {
    @apply text-[40px] font-bold leading-[48px] -tracking-[0.45px]
           md:text-[64px] md:leading-[64px] md:-tracking-[0.73px]
           lg:text-[88px] lg:leading-[88px] lg:-tracking-[-1px];
  }

  .text-h2 {
    @apply text-[32px] font-bold leading-[40px]
           lg:text-[40px] lg:leading-[52px];
  }

  .text-body-1 {
    @apply text-[18px] leading-[26px]
           md:text-[18px] md:leading-[26px]
           lg:text-[20px] lg:leading-[34px];
  }

  .text-body-2 {
    @apply text-sm leading-6
            md:text-[18px] md:leading-[26px]
            lg:text-[18px] lg:leading-[32px] leading-[32px];
  }

  .text-button{
    @apply text-[18px] lg:leading-[32px] lg:-tracking-[-0.18px];
  }
}

body {
  background: var(--color-offwhite);
  color: var(--foreground);
  font-family: var(--font-sans);
}